<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>

</head>
<body>
    <!-- The problem with this is that it just directly displays the fruits names like python list -->
    <!-- It doesn't provide us with the flexibility -->
    <h1>{{peoples}}</h1>

    <table>
        <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Age</th>
          <th>CanVote</th>
        </tr>
        {% for people in peoples %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{people.name}} </td>
          <td>{{people.age}}</td>
          <td>
            {% if people.age >= 18 %}
            yes
            {% else %}
            no
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
      <p>
        {% if "carrot" in vegetables%}
        carrot is in vegetables
        {% elif "brocolli" in vegetables%}
        brocolli is in vegetables
        {% else %}
        no vegetables
        {% endif %}
      </p>
      <p>
      {% if signed_in %}
      {{username}}
      {% else %}
      register
      </p>
    <h2>g</h2>
</body>
</html>