{% extends 'myapp/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="registration_form copy.css">
</head>
<body>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <div>
            <label for="age">Age:</label>
            <input type="text" id="age" name="age">
        </div>
    
        <div>
            <label for="gender">Gender:</label>
            <input type="text" id="gender" name="gender">
        </div>
    
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
        </div>
    
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
        </div>
    
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
    
        <input type="submit" value="Register">
</body>
</html>
{% endblock %}
